<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Book Management</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="roles">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Roles
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Librarian">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authors">
                        <span class="bi bi-person-fill"
                              aria-hidden="true"></span>
                        Authors
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="bi bi-tags-fill"
                              aria-hidden="true"></span>
                        Categories
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="books">
                        <span class="bi bi-list-nested-nav-menu"
                              aria-hidden="true"></span>
                        Books
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
