@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Book Management System</h1>

<AuthorizeView>
    <Authorized>
        <p>Signed in as <strong>@context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</strong></p>
        <p>Role: <strong>@context.User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</strong></p>
    </Authorized>
</AuthorizeView>
